---
import "@fontsource-variable/inter";

import "~/styles/index.css";


const { generator, site } = Astro;
const image = new URL("social.jpg", site);
const description =
  "Build fast websites, faster. Astro is a new kind of site builder for the modern web. Lightning-fast performance meets powerful developer experience.";



---

<!doctype html>
<html lang="en" class="h-full motion-safe:scroll-smooth" data-theme="dark">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE-edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
    <meta name="generator" content={generator} />

    <title>FLViz1 JS Sounds</title>
    <meta name="description" content={description} />

    <!-- social media -->
    <meta property="og:title" content="FLViz1 JS Sounds" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={image} />
    <meta property="og:url" content={site} />
    <meta name="twitter:card" content="summary_large_image" />

    <!-- initialize theme -->
    <script is:inline>
      const themeSaved = localStorage.getItem("theme");

      if (themeSaved) {
        document.documentElement.dataset.theme = themeSaved;
      } else {
        const prefersDark = window.matchMedia(
          "(prefers-color-scheme: dark)",
        ).matches;
        document.documentElement.dataset.theme = prefersDark ? "dark" : "light";
      }

      window
        .matchMedia("(prefers-color-scheme: dark)")
        .addEventListener("change", (event) => {
          if (!localStorage.getItem("theme")) {
            document.documentElement.dataset.theme = event.matches
              ? "dark"
              : "light";
          }
        });
    </script>
  </head>
  <body
    class="h-full overflow-x-hidden bg-default text-default text-base selection:bg-secondary selection:text-white"
  >


    <!-- <PlaybackManager client:only="react"/> -->

    <div id="container" class=" space-y-24 px-8 py-8 absolute h-full ">
    <!-- <button  id="button1">BUTT 1</button>
    <button  id="button2">BUTT 2</button> -->


    <!-- <canvas class="absolute h-full blur-sm invert brightness-150 hover:blur-lg" id="canvas1"></canvas> -->
    <!-- <canvas class="absolute h-full blur-lg brightness-200" id="canvas1"></canvas> -->
    <canvas class="absolute h-full bg-black blur-xl hover:blur brightness-200" id="canvas1"></canvas>
    <audio class="  mt-150-auto block "  id="audio1" controls></audio>

    <div  class="absolute white z-100 ">
    <input class="bg-black bottom-10 font-black flex-auto block " type="file"  id="fileupload" accept="audio/*" />
  </div>
    <script src="../components-fl1/script.js" ></script>
</div>

  </body>
</html>
